<h1>À propos / About</h1>
<br></br>
<div class="hero-unit">
	<div class="pagination pagination-centered">
		<p>
			Le <%= link_to "Répertoire de la Ville de Conakry", "http://localhost:3000" %> est destiné à donner aux utilisateurs des informations utiles.
			<br></br>
			The <%= link_to "Conakry City Directory", "http://localhost:3000" %> is to provide resourceful information to users.
		</p>
	</div>
</div>