<h1>Autres / Other</h1>
<table class="table table-bordered">	
		<br>
			<thead>
				<tr>
				<th>Nom / Name</th>
				<th>Adresse / Address</th>
				<th># Téléphone / Telephone #</th>
				</tr>
			</thead>
		<tbody>
			<tr>
				<td><b><%= link_to "Guinea News", "http://rivieraroyalhotel.com/guinee-conakry" %></b></td>
				<td></td>
				<td>655-80-00-00</td>
				</tr>
				<tr>
				<td><b><%= link_to "" %></b></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		</br>
	</table>						    
</br></pre>