<h1>Banques / Banks</h1>
<br>
<%= link_to "BICIGUI", "http://www.biciguinet.net/fr/" %>
</br>
	<br>
	<%= link_to "SGBG", "http://www.sgbg.net/" %>
	</br>
	<br><br>
		Back to <%= link_to "Conakry City Directory", "http://localhost:3000" %>
	</br></br>
</a>