<div class="hero-unit">
		<div class="pagination pagination-centered">
			<h1>Welcome to the <font color="red">Conakry</font><font color="#FFFF00"> City<font><font color="#00A300"> Directory <font color="black">website<font>
			</h1>
				<p>
					<br>	
						The
						Conakry City Directory  
						will provide you with various information and links to restaurants, shops, banks and more!
					</br>
				</p>
				<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
		</div>
</div>
<!-- -->