<div class="hero-unit">
		<div class="pagination pagination-centered">
			<h1>Welcome to the Conakry City Directory website</h1>
			<p>
			<br>	
				This
				<%= link_to "Conakry Directory Site",  "http://localhost:3000" %> </a> will provide you with various information and links to restaurants, shops, banks and more!
			</br>
		</div>
			</p>
	</div>