<div class="hero-unit">
		<div class="pagination pagination-centered">
			<h1>Bienvenue au site du <font color="#00A300"> Répertoire </font><font color="black"> de la</font><font color="#FFFF00">  Ville </font><font color="black"> de</font><font color="red"> Conakry</font>
			</h1>
				<p>
					<br>	
						Ce Répertoire de la Ville de Conakry donne des liens et des informations pour les restaurants, boutiques, banques et plus encore!
					</br>
					<br></br>
				</p>
			<h1>Welcome to the <font color="red">Conakry</font><font color="#FFFF00"> City</font><font color="#00A300"> Directory </font><font color="black">website</font>
			</h1>
				<p>
					<br>	
						The
						Conakry City Directory  
						provides you with various information and links to restaurants, shops, banks and more!
					</br>
				</p>

				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</div>
</div>
<!-- -->