<h1>Nouvelles / News</h1>
<br>
<%= link_to "Guinea News", "http://rivieraroyalhotel.com/guinee-conakry" %>
</br>
	<br><br>
		Retrour / Back to: <%= link_to "Conakry City Directory", "http://localhost:3000" %>
	</br></br>