<h1>Restaurants</h1>
<br>
	<div class="row">
    <div class="span3">Nom / Name 	</div>
    <div class="span3">Adresse / Address</div>
    <div class="span3"># Téléphone / Telephone #</div>
  </div>
 </br>
<br><%= link_to "Le Damier", "http://www.damier-conakry.com/" %>			  1234 5ieme avenue 		    655-80-00-00
</br>
<%= link_to "Petit Bateau", "http://www.hotelpetitbateau.com/" %>							    631-40-61-05
</br></pre>
	<br><br>
		Back to <%= link_to "Conakry City Directory", "http://localhost:3000" %>
	</br></br>
</a>