<h1>Restaurants</h1>
<table class="table table-bordered">	
	<br>
	 	<thead>
		 		<tr>
		 			<th>Nom / Name</th>
				 	<th>Adresse / Address</th>
				 	<th># Téléphone / Telephone #</th>
			 	</tr>
		</thead>
			<tbody>
					<tr>
						<td><b><%= link_to "Le Damier", "http://www.damier-conakry.com/" %></b></td>
						<td>1234 5ieme avenue</td>
						<td>655-80-00-00</td>
					</tr>
					<tr>
						<td><b><%= link_to "Petit Bateau", "http://www.hotelpetitbateau.com/" %></b></td>
						<td></td>
						<td>631-40-61-05</td>
					</tr>
			</tbody>
	</br>
</table>						    
</br></pre>
	<br><br>
		Back to <%= link_to "Conakry City Directory", "http://localhost:3000" %>
	</br></br>