<div class ="footer">
	<br><br>
		Back to <%= link_to "Conakry City Directory", "http://localhost:3000" %>
	</br></br>
		<small>
		Conakry City Directory par / by:  Robert Germain
		</small>
</div>